venv/
.idea
.vscode
creds
out/*
speechbrain/pretrained_models
speechbrain/model_checkpoints
bidirectional_predictions/TransformerCVAE/apex
bidirectional_predictions/TransformerCVAE/data/__pycache__
bidirectional_predictions/TransformerCVAE/__pycache__
bidirectional_predictions/TransformerCVAE/out/*
bidirectional_predictions/TransformerCVAE/data/wikiPlots
bidirectional_predictions/TransformerCVAE/slurm_outputs